.container
  .wrapper
    .tree-left
      .tree
      .trunk
        .branch
        .branch
    .tree-right
      .tree-back
        .trunk
      .tree-front
        .trunk
    .moon
    .stars
      .star.big-star
        .vertical
        .horizontal
      .star.small-star
        .vertical
        .horizontal
    .sun
    .hills
      .hill-left
      .hill-right
