* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #1d1b1d;
  justify-content: center;
  align-items: center;
  display: flex;
}
.wrapper {
  position: relative;
  border-radius: 40px;
  width: 700px;
  height: 600px;
  background: #0a0b1f;
  overflow: hidden;
  background: linear-gradient(120deg,
  #f5b349 0%, #78cdf5 78%);
  opacity: 0.95;
  border-radius: 40px;
}
.hills {
  position: relative;
  display: flex;
  width: 1000px;
  bottom: -500px;
  left: -40px;
  height: 400px;
}

.hill-left {
  position: relative;
  z-index: 2;
  width: 1200px;
  height: 300px;
  border-radius: 100%;
  background: linear-gradient(170deg,
  #ffebb5 0%, #036b9c 48%);
  top: -100px;
  left: -100px;
  transform: rotate(20deg);
}

.hill-right {
  position: relative;
  z-index: 1;
  width: 700px;
  height: 200px;
  border-radius: 100%;
  background: #d0eb21;
  top: -60px;
  right: 200px;
  background: linear-gradient(170deg,
  #ffebb5 0%, #036b9c 80%);
  transform: rotate(-20deg);
}

.tree-left {
position: absolute;
z-index: 5;
left: 140px;
bottom: -40px;
}  

.tree-left .trunk {
z-index: 3;
height: 410px;
width: 20px;
background: linear-gradient(90deg, #ebc160 0%, #1c415c 20%);
;
border-radius: 100% 100% 0 0;
}

.branch {
background: #1c415c;
position: relative;
}

.branch:nth-child(1) {
width: 13px;
height: 120px;
top: 100px;
left: -20px;
border-radius: 100%;
transform: rotate(-28deg);
}

.branch:nth-child(2) {
width: 8px;
height: 80px;
top: -40px;
left: 30px;
border-radius: 100%;
transform: rotate(40deg);
}

.branch:nth-child(3) {
width: 12px;
height: 60px;
top: 70px;
left: 22px;
border-radius: 100%;
transform: rotate(20deg);
}

.leaf-cluster {
position: absolute;
background: linear-gradient(60deg, #ffebb5 0%, #0f7ca3 30%);
border-radius: 63% 37% 31% 69% / 60% 74% 26% 40% ;
transform: rotate(40deg);
}

.leaf-cluster:nth-child(1) {
z-index: -2;
left: -80px;
top: -50px;
width: 180px;
height: 180px;
}

.leaf-cluster:nth-child(2) {
z-index: -1;
left: -90px;
top: 40px;
width: 200px;
height: 200px;
}

.leaf-cluster:nth-child(3) {
z-index: -3;
left: -55px;
top: -100px;
width: 130px;
height: 130px;
}

.tree-right {
position: relative;
left: 370px;
top: 40px;
}

.tree-back {
position: absolute;
z-index: 0;
width: 50px;
height: 120px;
border-radius: 80%;
background: linear-gradient(120deg, #ffebb5 0%, #199ecf 40%);
top: 280px;
left: 115px;
}

.tree-back .trunk {
position: absolute;
z-index: 0;
top: 110px;
background: linear-gradient(70deg, #ffebb5 0%, #199ecf 40%);
width: 9px;
height: 40px;
left: 21px;
border-radius: 4px;
}

.tree-front {
position: absolute;
left: 200px;
top: 170px;
z-index: 3;
width: 80px;
height: 200px;
border-radius: 80%;
background: linear-gradient(110deg, #ffebb5 0%, #0987b5 60%);
}

.tree-front .trunk {
position: absolute;
z-index: 2;
top: 140px;
background: linear-gradient(180deg,#0987b5 0%, #04668a 100%);
width: 12px;
height: 100px;
left: 32.5px;
border-radius: 100% 100% 60% 60%;
}

@media screen and (max-width: 970px) {
  .container {
    transform: scale(.7);
  }
}

@media screen and (max-width: 770px) {
  .container {
    transform: scale(.5);
  }
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(.35);
  }
}