* {
    box-sizing: border-box;
  }
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #1d1b1d;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .wrapper {
    position: relative;
    border-radius: 40px;
    width: 700px;
    height: 600px;
    background: #0a0b1f;
    overflow: hidden;
    background: linear-gradient(90deg,
    #f5b349 0%, #78cdf5 78%);
    opacity: 0.95;
    border-radius: 40px;
  }
  .hills {
    position: relative;
    display: flex;
    width: 1000px;
    bottom: -500px;
    left: -40px;
    height: 400px;
  }
  
  .hill-left {
    position: relative;
    z-index: 2;
    width: 900px;
    height: 500px;
    border-radius: 100%;
    background: linear-gradient(160deg,
    #d0eb21 0%, #044d31 40%);
    top: -100px;
    left: -180px;
    transform: rotate(20deg);
  }
  
  @media screen and (max-width: 970px) {
    .container {
      transform: scale(.7);
    }
  }
  
  @media screen and (max-width: 770px) {
    .container {
      transform: scale(.5);
    }
  }
  
  @media screen and (max-width: 500px) {
    .container {
      transform: scale(.35);
    }
  }