.container
  .sky
    .stars
      -for(i=0;i<100;i++)
        .star
    .moon
    .pyramids
      .left-pyramid
      .middle-pyramid
      .right-pyramid
      .small-left-pyramid
      .small-right-pyramid
  .dunes
    .dune1
    .dune2
    .dune3
    .dune4
    .dune5
    .dune6
    